.card {
  .slice1 {
    background-color: red($color: #000000);
  }
  .slice2 {
    background-color: red($color: #000000);
  }
  .slice3 {
    background-color: red($color: #000000);
  }
  .slice4 {
    background-color: red($color: #000000);
  }
}
