<nav class="navbar bg-gradient-primary">
  <button
  mat-button
  color="accent"
  matTooltip="{{ LANGUAGES[actualLanguageSelected].cart.name }}"
  matBadge=""
  matBadgePosition="before"
  matBadgeColor="accent"
  aria-label="Cart"
  >
  <!-- {{cartServ.pizzas.length > 0 ? cartServ.pizzas.length : '' }} -->
  <fa-icon [icon]="['fas', 'cart-shopping']" size="lg"></fa-icon>
</button>
  <button
    mat-button
    matTooltip="Language Change"
    color="accent"
    [matMenuTriggerFor]="menu"
    aria-label="Language Change"
  >
    <fa-icon [icon]="['fas', 'language']" size="2x"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-buton (click)="languages.languageChange('ES')" mat-menu-item>
      <mat-icon><span class="fi fi-es"></span></mat-icon>
      <span>Spanish</span>
    </button>
    <button (click)="languages.languageChange('US')" mat-menu-item>
      <mat-icon class="iconLanguage"><span class="fi fi-us"></span></mat-icon>
      <span>English</span>
    </button>
  </mat-menu>
  <div class="container-fluid"></div>
</nav>
