/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: "CulinaryArt";
  src: url(./assets/fonts/CulinaryArt.ttf);
}
@font-face {
  font-family: "Kapizza";
  src: url(./assets/fonts/Kapizza.ttf);
}
@font-face {
  font-family: "Cheesy";
  src: url(./assets/fonts/CHEESEPIZZA.ttf);
}
@font-face {
  font-family: "Yummy";
  src: url(./assets/fonts/YummyPizza.ttf);
}
